						<!--
						<div class="inner">
							<h2>SPEAK APP</h2>
							<p>Une autre façon d'apprendre.</p>
							<ul class="actions special">
								<li><a href="/signin" class="button primary">Inscription</a></li>
                                <li><a href="/login" class="button primary">connexion</a></li>
							</ul>-->

<div class="box-form">
	<div class="left">
	  <div class="overlay">
		<h1>SpeakApp</h1>
		<h3>Une nouvelle façon d'apprendre</h3>
	  </div>
	</div>
	
	
	  <div class="right">
	<h2>Bienvenue sur SpeakApp, que souhaitez-vous faire ? :</h2>
	<a routerLink="/login"><button class="btn btn-success" > Me connecter</button></a>
	  

	 <br>
	 <br>
	 <br>
	  <h2>Vous n'avez pas de compte ?<p>Inscrivez vous en cliquant sur le bouton juste en-dessous 
		<em class='far fa-hand-point-down' style='font-size:36px'></em>
	  </h2> 
	  <br>
	  <a routerLink="/signin"><button mat-flat-button color="accent">M'inscrire</button></a>

		  <!-- Angular -->
	
	</div>
	
  </div>
  
  