
<div class="my-container">

<app-header></app-header>
<br>
    <!--<form id="formData"  class="example-form" #lessonData="ngForm" (ngSubmit)="saveLesson(lessonData.value);getLessons();this.form.reset();this.imageLesson='';onFileUpload();">-->
    <form id="formData"  class="example-form" #lessonData="ngForm" (ngSubmit)="saveLesson(lessonData.value, getidprof());getLessons();">
     
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Insérer le titre de la leçon" type="text" name="lessonTitle" [(ngModel)]="lessonTitle" >
                </mat-form-field>
       
           
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Insérer la description de la leçon" type="text" name="lessonDescription" [(ngModel)]="lessonDescription" >
                </mat-form-field>
       
           
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Insérer le contenu de la leçon" name="lessonContenu" [(ngModel)]="lessonContenu" ></textarea>
                </mat-form-field>
     
                <mat-label [(ngModel)]="idProf" > Votre identifiant : {{getidprof()}} </mat-label>
    

            <br>

            

     <button mat-raised-button type="submit" value ="Ajouter" class="colorButton">Ajouter</button> 
    </form>
<br>

    <br><br><br><br><br><br><br>
<table class="table">
    <thead>
        <th>Title</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
        
    </thead>
    <tbody>
        <tr *ngFor="let lesson of lessonsService.lessons">
            <td>{{lesson.lessonTitle}}</td>
            <td>{{lesson.lessonDescription}}</td>
            <td>
                <a href="edit-lesson/{{lesson._id}}" class="btn btn-success">EDIT</a>
              </td>
              <td>
                <a class="btn btn-danger" (click)="onDelete(lesson._id)">DELETE</a>
              </td>
             </tr>
    </tbody>
</table>


 

</div>