<app-headerstudent></app-headerstudent>
   <!-- <table class="table">
        <thead>
            <th>Titre</th>
            <th>Description</th>
            <th>Lire</th>
            
        </thead>
        <tbody>
            <tr *ngFor="let lesson of lessonsService.lessons">
                <td>{{lesson.lessonTitle}}</td>
                <td>{{lesson.lessonDescription}}</td>
                <td>
                    <a href="viewLesson/{{lesson._id}}" class="btn btn-success">Commencer</a>
                </td>
            </tr>
        </tbody>
    </table>-->
    
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr id="headerStyle">
          
            <th>Titre de la leçon</th>
            <th>Description</th>
            <th>Lire la leçon</th>
        
          </tr>
        </thead>
        <tbody>
            <ng-container matColumnDef="weight">
            <tr *ngFor="let lesson of lessonsService.lessons">
                <td>{{lesson.lessonTitle}}</td>
                <td>{{lesson.lessonDescription}}</td>
               
                <td>
                    <a href="viewLesson/{{lesson._id}}" ><button mat-stroked-button class="btn btn-success pull-right" id="colorButton" >Lire la leçon</button></a>
                </td>

              
            </tr>
            </ng-container>
        
        </tbody>
      </table>