<app-headerstudent></app-headerstudent>
    <table class="table">
        <thead>
            <th>Title</th>
            <th>Description</th>
            <th>Commencer</th>
            
        </thead>
        <tbody>
            <tr *ngFor="let lesson of lessonsService.lessons">
                <td>{{lesson.lessonTitle}}</td>
                <td>{{lesson.lessonDescription}}</td>
                <td>
                    <a href="viewLesson/{{lesson._id}}" class="btn btn-success">Commencer</a>
                </td>
            </tr>
        </tbody>
    </table>
    
    
     
    
    