
    <mat-toolbar id="toolbarStyle">

      <span>SpeakApp</span>

      &nbsp;
    

      <span class="example-spacer"></span>
      <nav class=" navbar navbar-light navbar-expand"  style="background-color: transparent;">
        <button routerLink="/profile" mat-icon-button class="user-icon " aria-label="Example icon-user with share icon">
          <mat-icon>face</mat-icon>
        </button>
      </nav>

      
      <nav class=" navbar navbar-light navbar-expand" style="background-color: transparent;">
        <button routerLink="/logout" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-logout with share icon">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </nav>
    

      

    </mat-toolbar>
