.example-form {
    min-width: 150px;
    max-width: 600px;

    width: 100%;
    margin: auto;
    font-size: large;
    background-color: white;
    border-radius: 10px;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  div {
    text-align: center
    
  }

  h2{
    color: black;
    font-size: x-large;
    font-weight: bold;
  }
