
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$SpeakApp-primary: mat.define-palette(mat.$indigo-palette);
$SpeakApp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$SpeakApp-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$SpeakApp-theme: mat.define-light-theme((
  color: (
    primary: $SpeakApp-primary,
    accent: $SpeakApp-accent,
    warn: $SpeakApp-warn,
  )
));
//@import "~@ng-select/ng-select/themes/default.theme.css";
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($SpeakApp-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: white;}
#logout-icon-position{
    position:absolute;
    right:30px;
    width: 10px;
}

#user-icon-position{
  position:absolute;
  right:80px;
  width: 10px;
}
/**@keyframes color {
  0%   { background: #ecd9dc ; }
  20%  { background:#ecd9dd; }
  40%  { background: #ecd9de; }
  60%  { background: #ecd9df; }
  80%  { background: #ecd9ef; }
  100% { background: #ecd9ee; }
}**/


body {
  background: #f1f5f8; /* Fallback */
  animation: color 9s infinite linear;
  text-align: center;
  padding: 2em;
}

.colorButton{

  background-color: green;
  color: white;
}

.headerBackgroundColor{
    background-color: aliceblue;
}

.buttonHeaderStyle{
    background-color: white;
   
}

.navbar{
    padding-right: 1%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.inline-block {
    display: inline-block;
  }

.read-button{
    background-color: green;
    color: aliceblue;
    
}

.coteAcote{
 display: flex; 
 flex-grow : grow;
 border-spacing: 10px;
}

table {
  background-color: #f9f6f6;
  border-radius: 5px;
}

div{

  margin-right: 40px;

}