table {
    width: 100%;
    background-color: white;
  }
  
  th.mat-sort-header-sorted {
    color: gray;
  }

  #headerStyle{
    background-color:#efe6e8;
  }
  
  #colorButton{
    background-color: rgb(195, 212, 195);
    color: white;
  }