
        <mat-card-header>
            <h1> Inscription SpeakApp </h1>
        </mat-card-header>
        <mat-card-content>
            <mat-card-header>Etes-vous déjà inscrit ?</mat-card-header>
            <u routerLink="/login">Se connecter</u>
        </mat-card-content>
       
            <form id="formData" #userData="ngForm" (ngSubmit)="registerUser(userData.value)" class="example-form">
             
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nom" type="text" name="nom" [(ngModel)]="nom"  required autofocus>
                </mat-form-field>
          

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Prenom" type="text" name="prenom" [(ngModel)]="prenom" required autofocus >
                </mat-form-field>
            
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Mail" type="email" name="mail" [(ngModel)]="mail" required autofocus >
                </mat-form-field>
              
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Mot de passe" type="password" name="password" [(ngModel)]="password" required autofocus >
                </mat-form-field>
                <br>
                <mat-label>Etes-vous un professeur ?</mat-label>

                <select name="choice" id="choice" [(ngModel)]="choice" required autofocus>
             
                    <option value="oui">oui</option>
                    <option value="non">non</option>
                </select>
                <br>
                <button mat-raised-button type="submit" value ="S'inscrire" id="colorButton" >Je m'inscris</button>
                
             
            </form>
      


    
    <div>
     
      
        <br/>
        <br/>
        <!--
        <h2 style="margin: left;"> Veuillez vous connecter</h2>
        
        <form  id="formData" #userData="ngForm" class="example-form" (ngSubmit)="registerUser(userData.value)">
       
          <mat-form-field class="example-full-width">
            <input matInput  name="email" placeholder="Email" value="email"  [(ngModel)] = "user.mail"  id="inputEmail" required autofocus >
          </mat-form-field>
   
  
          <mat-form-field class="example-full-width">
            <input matInput  name="password" type="password" value="mot de passe"  [(ngModel)] = "user.password"  id="inputPassword"  placeholder="Mot de passe" required autofocus >
          </mat-form-field>
  
  
        <mat-label>Etes-vous un professeur ?</mat-label>
          <mat-form-field class="example-full-width">
          <input matInput name="choice" [(ngModel)] = "user.choice" type="text" id="inputChoice" class="form-control" placeholder="Oui ou Non ?" required autofocus>
        </mat-form-field>
  
  
  
      <!-- <mat-checkbox>
          Se souvenir de moi
        </mat-checkbox>-->
  
      <!--  <br>
  
        <button mat-raised-button (click)="validateLogin();" id="colorButton">Me connecter</button>
  
        <br>
        <br>
          <button (click)="someForm.reset()" mat-raised-button color="primary">Réinitialiser le formulaire</button>
        <br>
  
         
        </form>
        
        </div>

    -->